<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>join page</h1>
    <hr>
    <form action="/join" method="post">
        <input type="text" name="username" required>
        <input type="password" name="password" required>
        <input type="email" name="email" required>
        <label>
            <input type="checkbox" name="admin"> 관리자로 가입하기
        </label>
        <button type="submit">join</button>
    </form>
</body>
</html>